.gl-daterange-picker {
  @include gl-line-height-normal;
  @include gl-font-base;
  @include gl-font-regular;

  label {
    @include gl-font-weight-bold;
  }

  .gl-datepicker-input {
    @include gl-border-gray-100;
    @include gl-text-gray-900;
  }

  .gl-daterange-picker-indicator {
    @include gl-display-flex;
    @include gl-flex-direction-row;
    @include gl-align-items-center;
    @include gl-align-self-end;
    @include gl-text-gray-500;
    @include gl-gap-3;
    @include gl-h-7;
  }
}
